*{box-sizing:border-box}

html, body{
    box-sizing: border-box; 
    margin:0; 
    padding:0;
    // overflow:hidden;
    background-color: #000;
}

body{
    background-image: url(../img/night-sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 30px;
    
}

h1{
    margin:0;
    padding-top:10px;
    font-size: 1.5rem;
    color:white;
    text-align:center;
}

div.header{
    width: 650px;
    display:flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color:white;
    margin:0 auto 10px;
    padding-top:10px;

    @media only screen and (max-width: 700px){
        width:100%;
        font-size: 0.9rem;
        padding: 0 2%;
        margin:0;
    }
}

div.start{
    position: absolute;
    flex-direction: column;
    width:100%;
    height:400px;
    margin:5px auto;
    display:flex;
    justify-content: center;

    @media only screen and (max-width: 700px){
        height:57vw;
        font-size: 0.8rem;
    }

    p{
        visibility:hidden;
        align-self:center;
        text-align:center;
        line-height: 1.2rem;
        color:yellow;
        margin-bottom: 40px;
    }
    
    button{
        width:150px;
        height:50px;
        border:2px solid white;
        border-radius:5px;
        font-family: 'Press Start 2P', cursive;
        color:white;
        background-color: rgb(0, 0, 0);
        align-self:center;
    }

    button:hover{
        color:#40cfbc;
        border-color:#40cfbc;
    }
}

canvas{
    background-color: rgba(230, 230, 230, 0.3);
    display:block;
    margin:auto;
    border: 6px double white;
    border-radius:3px;

    @media only screen and (max-width : 700px),(orientation : portrait){
        width : 100vw;
        // height:40vh;
        
    };
    
}


.mobile-commands{
    display:none;
    margin:auto;
    padding:5px;

    @media only screen and (max-width : 700px){
        display:flex;
        background-color: rgba(255,255,255,0.4);
        border:6px double white;
        border-radius: 4px;
        justify-content: space-between;
        bottom:0;
        left:0;
        width:100vw;
        margin-top:-6px;
    };

    .mobile-arrows{
        display:flex;

    }
    
    .mobile-button{
        color:white;
        background-color: transparent;
        border:none;
        width:20vw;
        font-size: 3rem;
    }
        
}


table{
    width:700px;
    margin:20px auto 0;
    border-collapse: collapse;
    line-height:1.5rem;

    @media only screen and (max-width: 700px){
        width:96%;
        font-size: 0.7rem;
        margin:10% 2%;
    }

    th{
        margin:0;
        border:2px solid white;
        background-color: #fff;
    }

    td{
        border:2px solid white;
        color:white;
        padding:1px 5px;
    }

    .rank{
        width:5%;
        text-align:center;

        @media only screen and (max-width: 700px){
            width:7%;
        }
    }


}

div.form{
    margin:40px auto 0;
    visibility:hidden;

    input{
        margin:0;
        line-height: 1.5rem;
        color:black;
        background-color: #fff;
        font-family: 'Press Start 2P', cursive;
        width:170px;
        border: 2px solid black;
        border-radius: 3px;
        padding:5px;

    }

    .sendName{
        width:40px;
        background-color: black;
        color:white;
        border-color: white;
    }

    .sendName:hover{
        color:#40cfbc;
        border-color:#40cfbc;
    }
}

